.header {
  position: fixed;
  z-index: 1100;
  right: 0px;
  top: 0px;
  left: 0px;
  color: var(--white-pure);
  background-color: var(--header-bg);
  display: flex;
  justify-content: center;

  .headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--spacing-9);
    padding: var(--spacing-3) var(--spacing-2_5);
    max-width: var(--max-width);
    width: 100%;
  }

  .searchBar {
    width: 100%;
  }

  .searchBarIcon {
    display: none;
    cursor: pointer;
  }

  .searchText {
    width: 100%;
    justify-content: left !important;
  }
}

@media (max-width: 768px) {
  .searchBar {
    display: none !important;
  }

  .searchBarIcon {
    display: block !important;
  }

  .freeCallButton {
    display: none !important;
  }

  .logo {
    width: 120px;
    height: auto;
  }

  .headerContainer {
    gap: var(--spacing-2_5) !important;
  }
}
