:root {
  --background: #000000;
  --white-pure: #fff;
  --white-light: rgb(238, 238, 238);
  --white-soft: rgb(233, 232, 235);
  --white-muted: rgb(183, 181, 185);
  --white-soft-border: rgba(233, 232, 235, 0.2);

  --header-bg: #1e0815;
  --primary: #290f1e;
  --primary-bg: rgb(255, 104, 192);

  --light-grey: rgb(134, 131, 138);
  --dark-grey: rgb(35, 32, 39);

  --yellow-bright: rgb(255, 229, 0);

  --font-xl: 2.5rem; /* 40px / 16px */
  --font-lg: 1.25rem; /* 20px / 16px */
  --font-md: 1rem; /* 16px / 16px */
  --font-sm: 0.875rem; /* 14px / 16px */
  --font-xs: 0.75rem; /* 12px / 16px */

  --spacing-unit: 4px; /* Base unit */

  --spacing-1: calc(var(--spacing-unit) * 1); /* 4px */
  --spacing-1_5: calc(var(--spacing-unit) * 1.5); /* 6px */
  --spacing-2: calc(var(--spacing-unit) * 2); /* 8px */
  --spacing-2_5: calc(var(--spacing-unit) * 2.5); /* 8px */
  --spacing-3: calc(var(--spacing-unit) * 3); /* 12px */
  --spacing-3_5: calc(var(--spacing-unit) * 3.5); /* 14px */
  --spacing-4: calc(var(--spacing-unit) * 4); /* 16px */
  --spacing-5: calc(var(--spacing-unit) * 5); /* 20px */
  --spacing-6: calc(var(--spacing-unit) * 6); /* 24px */
  --spacing-7: calc(var(--spacing-unit) * 7); /* 28px */
  --spacing-8: calc(var(--spacing-unit) * 8); /* 32px */
  --spacing-9: calc(var(--spacing-unit) * 9); /* 36px */
  --spacing-9: calc(var(--spacing-unit) * 9); /* 36px */

  --spacing-12: calc(var(--spacing-unit) * 12); /* 48px */

  --spacing-21: calc(var(--spacing-unit) * 21); /* 84px */

  --max-width: 1290px;

  --rounded-sm: calc(var(--spacing-unit) * 1); /* 4px */
  --rounded-md: calc(var(--spacing-unit) * 2); /* 8px */
  --rounded-lg: calc(var(--spacing-unit) * 3); /* 12px */

  --breakpoint-sm: 480px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
}

body {
  font-family: var(--font-manrope);
  background-color: var(--background);
  color: var(--white-pure);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: var(--font-xl);
  font-weight: 500;
}

h2 {
  font-size: var(--font-lg);
  line-height: 1.6;
}

p {
  font-size: var(--font-md);
}

.small-text {
  font-size: var(--font-sm);
}

.xsmall-text {
  font-size: var(--font-xs);
}

main {
  margin-top: 80px;
}
