.modelCard {
  display: flex;
  flex-direction: column;

  .modelImage {
    width: 100%;
    height: 432px;
    border-radius: var(--rounded-lg);
  }

  .modelDetailsContainer {
    padding: var(--spacing-3);
  }

  .modelDetails {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--spacing-2);

    .modelUsername {
      font-weight: 500;
    }

    .creditsContainer {
      display: flex;
      align-items: center;
      gap: var(--spacing-1_5);
    }

    .modelDetailsMetadata {
      color: var(--white-muted);
    }
  }
}
